.section-image {
    width: 100vw;
    height: 40vh;
    background-color: green;
}


.header{
	height:200px;
}

.header-div{
	height:100%;
}
.navbar-brand img{
	height:55px;
}

.navbar-dark{
	background-color: black !important;
}
.bg-custom{
	background-color: black !important;
}